@font-face {
    font-family: "electronic";
    src: url('fonts/Cirquee-EaJ78.ttf');
}
body{
    background-color: rgb(185, 185, 185);
}
header{
    text-align: left;
    font-size: large;
    font-family: "electronic",serif;
    color: rgb(0, 0, 0);
    background-color:rgb(150, 150, 150);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    padding: 3px;
    margin-top: 10px;
} 
header img{
    max-width: 191px;
    max-height: 92px;
    float: left;
    margin-top: 15px;
}

nav ul{
    text-align: center;
    overflow: hidden;
    background-color: rgb(162, 162, 162);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 10px;
    list-style-type: none;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav li{
    color: white;
    float: left;
    padding: 3px 5px;
}
nav li a{
    color: rgb(48, 48, 48);
    text-decoration: none;
    display: block;
    padding: 14px 18px;
}
.act-sec{
    color: black;
    background-color: rgb(141, 141, 141);
    border-radius: 10px;
    display: block;
    padding: 14px 16px; 
    margin-top: 2px;
}
nav li a:hover{
    background-color: rgb(150, 150, 150);
    padding: 14 16;
    border-radius: 10px;
}
.productos{
    max-width: 100%;
}
.productos .fila{
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}
.productos img{
    width: 100%;
    margin-top: 8px;
}
.productos .fila div{
    border: 1px;
    border-style: hidden;
    border-radius: 10px;
    margin-top: 1%;
    text-align: center;
    background-color: rgb(185, 185, 185);
    width: 23.75%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
}
.productos .fila img:hover{
    transform: scale(1.2,1.2);
}

.productos .fila .prod{
    font-weight: 600;
    margin-bottom: 2px;
}
.productos .fila .precio{
    font-weight: 600;
    font-size: smaller;
    opacity: 0.7;
    color: rgb(39, 39, 39);
    margin-top: 2px;
}
.productos .fila .precio_ant{
    font-weight: 600;
    font-size: smaller;
    opacity: 0.7;
    margin-top: 2px;
    margin-bottom: 2px;
    color: red;
    text-decoration: line-through;
}
.productos .fila  .precio_act{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: smaller;
    opacity: 0.7;
    color: rgb(39, 39, 39);
    margin-top: 2px;
}
.input {
    background-color: rgb(162, 162, 162);
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%; 
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.contacto label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contacto input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 15px;
    outline: none;
    border: hidden;
    background-color: rgb(184, 184, 184);
}
.contacto textarea {
    margin-bottom: 40px;
    border-radius: 10px;
    outline: none;
    border: hidden;
    background-color: rgb(184, 184, 184);
}
.contacto .boton:hover{
    background-color: #51d94c;
    cursor: pointer;
}
.contacto .boton {
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}