@font-face {
    font-family: "electronic";
    src: url('fonts/Fulbo-Tano.otf');
}
body{
    background-color: #1f2833;
}
header{
    text-align: left;
    font-size: large;
    font-family: "electronic",serif;
    color: #04949a;
    border-radius: 10px;
    padding: 3px;
    margin-top: 10px;
} 
header h1{
    margin-bottom: 5px;
}
header h3{
    margin-top: 5px;
}
header img{
    max-width: 191px;
    max-height: 92px;
    float: left;
    margin-top: 15px;
}
nav ul{
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
    list-style-type: none;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
nav li{
    color: #c5c6c7;
    float: left;
    padding: 3px 5px;
}
nav li a{
    color: #c5c6c7;
    text-decoration: none;
    display: block;
    padding: 14px 18px;
}
.act-sec{
    color: black;
    background-color: #04949a;
    border-radius: 10px;
    display: block;
    padding: 14px 16px; 
    margin-top: 2px;
}
nav li a:hover{
    background-color: rgb(150, 150, 150);
    padding: 14 16;
    border-radius: 10px;
}
.productos{
    width: 75%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
}
.productos img{
    width: 100%;
    margin-top: 8px;
}
.productos div{
    border: 1px hidden;
    border-radius: 7px;
    background-color: #c5c6c741;
    overflow: hidden;
    text-align: center;
    width: 20%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    margin: 1% 1% 1% 1%;
}
.contenido::after{
    content: "";
    display: table;
    clear: both;
}
.productos img:hover{
    transform: scale(1.2,1.2);
    filter: drop-shadow(0px 0px 5px grey);
}
.productos .prod{
    font-weight: 600;
    margin-bottom: 2px;
}
.productos .precio{
    font-weight: 600;
    font-size: smaller;
    opacity: 0.7;
    color: rgb(39, 39, 39);
    margin-top: 2px;
}
.productos .precio_ant{
    font-weight: 600;
    font-size: smaller;
    opacity: 0.7;
    margin-top: 2px;
    margin-bottom: 2px;
    color: red;
    text-decoration: line-through;
}
.productos .precio_act{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    font-size: smaller;
    opacity: 0.7;
    color: rgb(39, 39, 39);
    margin-top: 2px;
}
.input {
    background-color: #c5c6c741;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    border-radius: 15px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 70%; 
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
}
.carrito .ventana{
    border: 1px hidden;
    border-radius: 7px;
    background-color: #c5c6c741;
    width: 23%;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
}
aside h2{
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 4%; 
}
@media screen and (max-width: 600px){
    .productos, .carrito{
        width: 100%;
    }
}
.contacto label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.contacto input {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    height: 30px;
    border-radius: 10px;
    margin-bottom: 15px;
    outline: none;
    border: hidden;
    background-color: #c5c6c741;
}
.contacto textarea {
    margin-bottom: 40px;
    border-radius: 10px;
    outline: none;
    border: hidden;
    background-color: #c5c6c741;
}
.contacto .boton:hover{
    background-color: #04949a;
    cursor: pointer;
}
.contacto .boton {
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}